@model User
<form asp-action="CreateUser" method="post">
            <div class="row">
                <label asp-for="FirstName">First Name</label>
                <span asp-validation-for="FirstName"></span>
                <input class="form-control" asp-for="FirstName">
            
            
                <label asp-for="LastName">Last Name</label>
                <span asp-validation-for="LastName"></span>
                <input class="form-control" asp-for="LastName">
            
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email"></span>
                <input class="form-control" asp-for="Email">
                
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password"></span>
                <input class="form-control" asp-for="Password">


                <label asp-for="Confirm">PW Confirm</label>
                <span asp-validation-for="Confirm"></span>
                <input class="form-control" asp-for="Confirm">
                
                

            <button type="submit" class="btn btn-primary">Submit</button>
            </form>